@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background: rgba(241, 75, 102, 0.5);
  color: white;
}

::selection {
  background: rgba(241, 75, 102, 0.5);
  color: white;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(241, 75, 102, 0.5);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f14b66;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0px;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
  color: black;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  border-bottom: 2px solid #f14b66;
}

.tab {
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.tab.active {
  background-color: #f14b66;
  color: white;
}

.tab:hover {
  background-color: rgba(241, 75, 102, 0.5);
  color: white;
}

.tab:hover.active {
  background-color: #f14b66;
}

#home h1 {
  text-align: center;
  padding: 25px 0px 5px 0px;
  font-size: 96px;
  font-weight: 700;
  color: #f14b66;
}

#home h3 {
  text-align: center;
  padding: 5px 0px 10px 0px;
  font-size: 36px;
  font-weight: 300;
  color: #f14b66;
}

#home hr {
  width: 50%;
  margin: auto;
  border: 4px solid #f14b66;
  border-radius: 5px;
}

#home .tiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#home .tiles .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#home .tiles .row .tile {
  border: 2px solid #f14b66;
  height: 250px;
  width: 250px;
  border-radius: 10px;
  margin: 2vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#home .tiles .row .tile svg {
  margin: 10px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#home .tiles .row .tile svg path {
  fill: #f14b66;
}

#home .tiles .row .tile h2 {
  text-align: center;
  color: black;
}

#home .tiles .row .tile:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(241, 75, 102, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(241, 75, 102, 0.5);
}

#home .tiles .row .tile:hover svg {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#caesar .box {
  -webkit-box-shadow: 0px 0px 10px #f14b66;
          box-shadow: 0px 0px 10px #f14b66;
  border-radius: 10px;
  margin: 25px 100px;
  padding: 25px;
}

#caesar .box .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#caesar .box .controls .input-header {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#caesar .box .controls .input-header h2 {
  color: black;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  text-decoration: underline;
}

#caesar .box .controls .switch {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#caesar .box .controls .switch button {
  background: transparent;
  border: none;
  cursor: pointer;
}

#caesar .box .controls .switch button span {
  color: black;
  font-size: 36px;
  font-weight: 700;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#caesar .box .controls .switch button:hover span {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#caesar .box .controls .switch button:active span {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

#caesar .box .controls .output-header {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#caesar .box .controls .output-header h2 {
  color: black;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  text-decoration: underline;
}

#caesar .box .fields {
  border: 1px solid green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#caesar .box .fields .input-field {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#caesar .box .fields .input-field .input-field-field {
  -webkit-box-shadow: inset 0px 0px 5px #f14b66;
          box-shadow: inset 0px 0px 5px #f14b66;
  width: 100%;
  height: 450px;
  border-radius: 5px;
  margin: 10px;
  position: relative;
}

#caesar .box .fields .input-field .input-field-field textarea {
  border: none;
  background: transparent;
  resize: none;
  width: 100%;
  height: 100%;
  padding: 10px;
  outline: none;
  color: black;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}

#caesar .box .fields .input-field .input-field-field textarea::-webkit-input-placeholder {
  color: #e5e5e5;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}

#caesar .box .fields .input-field .input-field-field textarea:-ms-input-placeholder {
  color: #e5e5e5;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}

#caesar .box .fields .input-field .input-field-field textarea::-ms-input-placeholder {
  color: #e5e5e5;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}

#caesar .box .fields .input-field .input-field-field textarea::placeholder {
  color: #e5e5e5;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}

#caesar .box .fields .input-field .input-field-field button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  border: none;
  background: transparent;
}

#caesar .box .fields .input-field .input-field-field button span {
  color: #f14b66;
  font-size: 36px;
  font-weight: 700;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#caesar .box .fields .input-field .input-field-field button:hover span {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#caesar .box .fields .input-field .input-field-field button:active span {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

#caesar .box .fields .key-field {
  border: 1px solid blue;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#caesar .box .fields .output-field {
  border: 1px solid blue;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#infoModalOpenBTB {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: #f14b66;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
  font-size: 30px;
  font-weight: 900;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#infoModalOpenBTB:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(241, 75, 102, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(241, 75, 102, 0.5);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal .modal-content {
  background-color: white;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
}

.modal .modal-content .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal .modal-content .header span {
  color: rgba(241, 75, 102, 0.5);
  font-size: 40px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.modal .modal-content .header span:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #f14b66;
}

.modal .modal-content .content p {
  font-size: 24px;
  text-align: center;
  padding: 20px;
}
/*# sourceMappingURL=index.css.map */