@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
//Variables
$base: rgba(255,
255,
255,
1);
$primary: rgba(241,
75,
102,
1);
$primary2: rgba(241,
75,
102,
0.5);
$secondary: rgba(0,
0,
0,
1);
$secondary2: rgba(229, 229, 229, 1);
$third: rgba(82, 196, 224, 1);
//---
//Overwrite
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

::selection {
    background: $primary2;
    color: $base;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: $primary2;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: $primary;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0px;
}

//---
//Tab-Layout
[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    color: black;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    border-bottom: 2px solid $primary;
}

.tab {
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.tab.active {
    background-color: $primary;
    color: $base;
}

.tab:hover {
    background-color: $primary2;
    color: $base;
}

.tab:hover.active {
    background-color: $primary;
}

//---
//Home
#home h1 {
    text-align: center;
    padding: 25px 0px 5px 0px;
    font-size: 96px;
    font-weight: 700;
    color: $primary;
}

#home h3 {
    text-align: center;
    padding: 5px 0px 10px 0px;
    font-size: 36px;
    font-weight: 300;
    color: $primary;
}

#home hr {
    width: 50%;
    margin: auto;
    border: 4px solid $primary;
    border-radius: 5px;
}

#home .tiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#home .tiles .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#home .tiles .row .tile {
    border: 2px solid $primary;
    height: 250px;
    width: 250px;
    border-radius: 10px;
    margin: 2vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

#home .tiles .row .tile svg {
    margin: 10px;
    transition: all .2s ease-in-out;
}

#home .tiles .row .tile svg path {
    fill: $primary;
}

#home .tiles .row .tile h2 {
    text-align: center;
    color: $secondary;
}

#home .tiles .row .tile:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 0px $primary2;
}

#home .tiles .row .tile:hover svg {
    transform: scale(1.1);
}

//---

//Caesar
#caesar .box {
    box-shadow: 0px 0px 10px $primary;
    border-radius: 10px;
    margin: 25px 100px;
    padding: 25px;
}

#caesar .box .controls {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#caesar .box .controls .input-header {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

#caesar .box .controls .input-header h2 {
    color: $secondary;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-decoration: underline;
}

#caesar .box .controls .switch {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#caesar .box .controls .switch button{
    background: transparent;
    border: none;
    cursor: pointer;
}

#caesar .box .controls .switch button span {
    color: $secondary;
    font-size: 36px;
    font-weight: 700;
    transition: all .2s ease-in-out;
}

#caesar .box .controls .switch button:hover span {
    transform: scale(1.2);
}

#caesar .box .controls .switch button:active span {
    transform: scale(0.8);
}

#caesar .box .controls .output-header {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

#caesar .box .controls .output-header h2 {
    color: $secondary;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-decoration: underline;
}

#caesar .box .fields {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#caesar .box .fields .input-field {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

#caesar .box .fields .input-field .input-field-field {
    box-shadow: inset 0px 0px 5px $primary;
    width: 100%;
    height: 450px;
    border-radius: 5px;
    margin: 10px;
    position: relative;
}

#caesar .box .fields .input-field .input-field-field textarea {
    border: none;
    background: transparent;
    resize: none;
    width: 100%;
    height: 100%;
    padding: 10px;
    outline: none;
    color: $secondary;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

#caesar .box .fields .input-field .input-field-field textarea::placeholder {
    color: $secondary2;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

#caesar .box .fields .input-field .input-field-field button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    border: none;
    background: transparent;
}

#caesar .box .fields .input-field .input-field-field button span{
    color: $primary;
    font-size: 36px;
    font-weight: 700;
    transition: all .2s ease-in-out;
}

#caesar .box .fields .input-field .input-field-field button:hover span {
    transform: scale(1.1);
}

#caesar .box .fields .input-field .input-field-field button:active span {
    transform: scale(0.8);
}

#caesar .box .fields .key-field {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#caesar .box .fields .key-field .key-field-field {
    height: 50px;
    width: 100%;
    max-width: 100px;
    box-shadow: inset 0px 0px 5px $primary;
    border-radius: 5px;
}

#caesar .box .fields .key-field .key-field-field input {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    outline: none;
    color: $secondary;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

#caesar .box .fields .key-field .key-field-field input::placeholder {
    color: $secondary2;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

#caesar .box .fields .output-field {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

#caesar .box .fields .output-field .output-field-field {
    box-shadow: inset 0px 0px 5px $primary;
    width: 100%;
    height: 450px;
    border-radius: 5px;
    margin: 10px;
    position: relative;
}

#caesar .box .fields .output-field .output-field-field textarea {
    border: none;
    background: transparent;
    resize: none;
    width: 100%;
    height: 100%;
    padding: 10px;
    outline: none;
    color: $secondary;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

#caesar .box .fields .output-field .output-field-field textarea::placeholder {
    color: $secondary2;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

#caesar .box .fields .output-field .output-field-field button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    border: none;
    background: transparent;
}

#caesar .box .fields .output-field .output-field-field button span{
    color: $primary;
    font-size: 36px;
    font-weight: 700;
    transition: all .2s ease-in-out;
}

#caesar .box .fields .output-field .output-field-field button:hover span {
    transform: scale(1.1);
}

#caesar .box .fields .output-field .output-field-field button:active span {
    transform: scale(0.8);
}

#caesar .box .info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#caesar .box .info a {
    text-decoration: none;
}

#caesar .box .info a h6 {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    color: $third;
}

//--

//Vigenere
#vigenere .box {
    box-shadow: 0px 0px 10px $primary;
    border-radius: 10px;
    margin: 25px 100px;
    padding: 25px;
}

#vigenere .box .controls {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#vigenere .box .controls .input-header {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

#vigenere .box .controls .input-header h2 {
    color: $secondary;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-decoration: underline;
}

#vigenere .box .controls .switch {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#vigenere .box .controls .switch button{
    background: transparent;
    border: none;
    cursor: pointer;
}

#vigenere .box .controls .switch button span {
    color: $secondary;
    font-size: 36px;
    font-weight: 700;
    transition: all .2s ease-in-out;
}

#vigenere .box .controls .switch button:hover span {
    transform: scale(1.2);
}

#vigenere .box .controls .switch button:active span {
    transform: scale(0.8);
}

#vigenere .box .controls .output-header {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

#vigenere .box .controls .output-header h2 {
    color: $secondary;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-decoration: underline;
}

#vigenere .box .fields {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#vigenere .box .fields .input-field {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

#vigenere .box .fields .input-field .input-field-field {
    box-shadow: inset 0px 0px 5px $primary;
    width: 100%;
    height: 450px;
    border-radius: 5px;
    margin: 10px;
    position: relative;
}

#vigenere .box .fields .input-field .input-field-field textarea {
    border: none;
    background: transparent;
    resize: none;
    width: 100%;
    height: 100%;
    padding: 10px;
    outline: none;
    color: $secondary;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

#vigenere .box .fields .input-field .input-field-field textarea::placeholder {
    color: $secondary2;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

#vigenere .box .fields .input-field .input-field-field button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    border: none;
    background: transparent;
}

#vigenere .box .fields .input-field .input-field-field button span{
    color: $primary;
    font-size: 36px;
    font-weight: 700;
    transition: all .2s ease-in-out;
}

#vigenere .box .fields .input-field .input-field-field button:hover span {
    transform: scale(1.1);
}

#vigenere .box .fields .input-field .input-field-field button:active span {
    transform: scale(0.8);
}

#vigenere .box .fields .key-field {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#vigenere .box .fields .key-field .key-field-field {
    height: 50px;
    width: 100%;
    max-width: 200px;
    box-shadow: inset 0px 0px 5px $primary;
    border-radius: 5px;
}

#vigenere .box .fields .key-field .key-field-field input {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    outline: none;
    color: $secondary;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

#vigenere .box .fields .key-field .key-field-field input::placeholder {
    color: $secondary2;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

#vigenere .box .fields .output-field {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

#vigenere .box .fields .output-field .output-field-field {
    box-shadow: inset 0px 0px 5px $primary;
    width: 100%;
    height: 450px;
    border-radius: 5px;
    margin: 10px;
    position: relative;
}

#vigenere .box .fields .output-field .output-field-field textarea {
    border: none;
    background: transparent;
    resize: none;
    width: 100%;
    height: 100%;
    padding: 10px;
    outline: none;
    color: $secondary;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

#vigenere .box .fields .output-field .output-field-field textarea::placeholder {
    color: $secondary2;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

#vigenere .box .fields .output-field .output-field-field button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    border: none;
    background: transparent;
}

#vigenere .box .fields .output-field .output-field-field button span{
    color: $primary;
    font-size: 36px;
    font-weight: 700;
    transition: all .2s ease-in-out;
}

#vigenere .box .fields .output-field .output-field-field button:hover span {
    transform: scale(1.1);
}

#vigenere .box .fields .output-field .output-field-field button:active span {
    transform: scale(0.8);
}

#vigenere .box .info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#vigenere .box .info a {
    text-decoration: none;
}

#vigenere .box .info a h6 {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    color: $third;
}

//--

//RSA
#rsa .box {
    box-shadow: 0px 0px 10px $primary;
    border-radius: 10px;
    margin: 25px 100px;
    padding: 25px;
}

#rsa .box .sections {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#rsa .box .sections .input {
    border: 1px solid #F14B66;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#rsa .box .sections .input input {
    background: $base;
    border: none;
    box-shadow: inset 0px 0px 5px #F14B66;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    color: $secondary;
    padding: 10px;
}

#rsa .box .sections .input input::placeholder {
    color: $secondary2;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}

#rsa .box .sections .input h3 {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
}

#rsa .box .sections .input .top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#rsa .box .sections .input .top .left {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}

#rsa .box .sections .input .top .left .pInput {
    margin: 10px 0px;
}

#rsa .box .sections .input .top .left .qInput {
    margin: 10px 0px;
}

#rsa .box .sections .input .top .middle span {
    font-size: 50px;
    color: $primary;
}

#rsa .box .sections .input .top .right {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}

#rsa .box .sections .input .top .right .nOutput {
    margin: 10px 0px;
}

#rsa .box .sections .input .top .right .mOutput {
    margin: 10px 0px;
}

#rsa .box .sections .input .bottom {
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#rsa .box .sections .input .bottom .left {  
    width: 200px;
}

#rsa .box .sections .input .bottom .left .eInput {
    margin: 10px 0px;
}

#rsa .box .sections .input .bottom .left .eInput h3 {
    font-size: 16px;
    line-height: 20px;
}

#rsa .box .sections .input button {
    border: none;
    background: $primary;
    border-radius: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    padding: 10px 20px;
    color: $base;
    position: absolute;
    bottom: -25px;
    cursor: 'pointer';
}


#rsa .box .sections .output {
    border: 1px solid #F14B66;
    border-radius: 20px;
    padding: 40px;
}

//--

//InfoModal
#infoModalOpenBTB {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background: $primary;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: $base;
    font-size: 30px;
    font-weight: 900;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

#infoModalOpenBTB:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 0px $primary2;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.75);
}

.modal .modal-content {
    background-color: $base;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
}

.modal .modal-content .header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.modal .modal-content .header span {
    color: $primary2;
    font-size: 40px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.modal .modal-content .header span:hover {
    transform: scale(1.1);
    color: $primary;
}

.modal .modal-content .content p {
    font-size: 24px;
    text-align: center;
    padding: 20px;
}
//---